body {
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer"; 
}

header {
    grid-area: header;
}

h1 {
    font-size: 100px;
    text-align: center;
}

nav {
    grid-area: nav;
}

.navbar {
    list-style-type: none;
    font-family: 'Mukta', sans-serif;
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none; 
  }

 .links {
    font-size: 25px;
    
  }

  .links:hover {
    animation: navtext 2s infinite;
  }

 @keyframes navtext {
    0%{
      font-size: 25px;
    }
    25% {
      font-size: 50px;
    }
    50% {
      font-size: 25px;
    }
    75%{
      font-size: 50px;
    }
    100% {
      font-size: 25px;
    }
  }


main {
    grid-area: main;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    margin: 1%;
}

footer {
    grid-area: footer;
}

@media (max-width: 767px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
  }

  .navbar {
    list-style-type: none;
    font-family: 'Mukta', sans-serif;
    display: flex;
    flex-direction: column;
}
}

@media (min-width: 768px) and (max-width: 992px) {
  body { 
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
      "header header"
      "nav main"
      "nav main"
      "footer footer";
  }
  .navbar {
    list-style-type: none;
    font-family: 'Mukta', sans-serif;
    display: flex;
    flex-direction: column;
    position: fixed;
    padding-top: 15%;
    margin: 0;
}

main {
  margin-left: 15%;
}

.links:hover {
  animation: navtext 0s 0;
}
  }

