body {
    background-color: rgb(73, 137, 255);
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr;
    grid-template-areas: 
    "header header header"
    "main main nav"
    "main main nav"
    "footer footer footer"; 
    font-family: 'Mukta', sans-serif;
  }

  header {
    grid-area: header;

  }

  h1 {
    font-size: 150px;
    text-align: left;
  }

  #aca {
    height: 100px;
    width: 150px;
    border-radius: 40%;
  }

  nav {
    grid-area: nav; 
    border-radius: 1%;
  }

  ul {
    list-style-type: none;
    font-family: 'Mukta', sans-serif;
  }

  a {
    text-decoration: none;
  }

 li {
    font-size: 25px;
  }

  #selfie {
    height: 250px;
    width: 300px;
    border-radius: 20%;
    padding-left: 30px;
  }

  h2 {
    font-size: 50px;
  }

  #text {
    text-align: center;
    font-size: 25px;
  }

  footer {
    grid-area: footer;
  }

  @media (max-width: 767px) {
    body {
      display:grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto;
      grid-template-areas: 
      "header"
      "nav"
      "main"
      "footer";
  }
}
